<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <%- include('./includes/head', { siteTitle: themeConfig.siteName }) %>
  </head>
  <body>
    <%- include('./includes/header') %>
    <%- include('./includes/post-list') %>
    <%- include('./includes/footer') %>
  </body>
</html>
